header {
    height: 167px;
    background-color: #A3BF9A;
    display: flex;
    flex-direction: column; /* Ændring: Brug en kolonne-layout */
    align-items: center;
    justify-content: flex-end; /* Ændring: Juster til bunden af headeren */
    position: relative;
    z-index: 9999;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #D6E2E1;
  }

  h1 {
    font-size: 80px;
    font-family: 'Segoe UI', sans-serif;
    color: #026817;
}
.box {
    width: 100%;
    background-color: white;
    background-color: #A3BF9A;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #026817;
    height: 53px;
  }


