header {
  height: 167px;
  background-color: #A3BF9A;
  display: flex;
  flex-direction: column; /* Ændring: Brug en kolonne-layout */
  align-items: center;
  position: relative;
  z-index: 9999;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

h1 {
  font-size: 80px;
  font-family: 'Georgia';
  color: #026817;
  margin-top: 0px;
  margin-bottom: 0px;
}

.box {
  width: 100%;
  background-color: #A3BF9A;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #026817;
  height: 53px;
  position: absolute;
  bottom: 0;
}

.nav-menu {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.nav-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  color: white;
  text-decoration: none;
}

#nav-farve a {
  color: #026817;
}

ul.nav-menu {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
height: 100%;
width: 100%;
opacity: 32%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  }

a{
  color: white;
  text-decoration: none;
}

a:hover {
color: #026817;
  }
.footer {
  height: 167px;
  padding:none;
  position:relative;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  background: white;
}
  .footer1 ul li a{
    color: black; 
    font-size: 15px; 
  }
  .footer1 ul li{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
  }

  .footer1 ul li h1{
    font-size: 25px;
    font-family: 'Segoe UI',sans-serif;
  }
  .footer1 ul {
    padding: 0px 0px 0px 130px;
  }
  .footer2 ul li a{
    color: black; 
    font-size: 15px; 
  }
  .footer2 ul li{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
  }

  .footer2 ul li h1{
    font-size: 25px;
    font-family: 'Segoe UI',sans-serif;
  }
  .footer2 ul {
    padding: 0px 0px 0px 130px;
  }
  .footer3 ul li a{
    color: black; 
    font-size: 15px; 
  }
  .footer3 ul li{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
  }

  .footer3 ul li h1{
    font-size: 25px;
    font-family: 'Segoe UI',sans-serif;
  }
  .footer3 ul {
    padding: 0px 0px 0px 130px;
  }
  .footer4 ul li a{
    color: black; 
    font-size: 15px; 
  }
  .footer4 ul li{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
  }

  .footer4 ul li h1{
    font-size: 25px;
    font-family: 'Segoe UI',sans-serif;
  }
  .footer4 ul {
    padding: 0px 0px 0px 130px;
  }

